# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/

# VS Code settings
.vscode/

# Output data ignored
data/output/

data/input/
